

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Righteous&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     background-color:#FFF8F3;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

a {
    color: #32356c;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}


h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #32356c;
     margin: 0
}

h1 {
     font-size: 24px;
     font-family: 'Righteous', cursive;
}

h2 {
     font-size: 22px;
     font-family: 'Outfit';
     color: #32356c;
}

h3 {
     font-size: 18px;
     font-family: 'Righteous', cursive;
     color: #32356c;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #32356c;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 0px;
     font-weight: 300;
     font-size: 17px;
     line-height: 28px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}



img {
     max-width: 100%;
     height: auto;
}



/**-- heading section --**/



/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.text-bg h1 {
     color: #02fee5;
     font-size: 75px;
     line-height: 110px;
     font-weight: bold;
}

.text-img {
     text-align: left;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 40px;
     color: #32356c;
     line-height: 57px;
     font-weight: bold;
     padding: 0;
     padding-bottom: 20px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}


/** blog_main section **/
.blog_main {margin-top: 85px;}
.blog_main .span {font-size: 17px; line-height: 20px; color: #2d2d2d;}
.our_two_box {box-shadow: #ddd 0px 0px 10px 0px; margin-bottom: 90px;}
.our_text_box {padding: 1px 30px 1px 1px;}
.our_img figure {margin: 0;}
.our_img figure img {width: 100%;}
.awesome {padding-bottom:40px; font-size: 26px; line-height: 38px; color:#333334; }
.our_text_box p {padding-bottom: 50px; color: #3c3c3c; display: inline-block; }
.flot_left1 {float: left; padding: 0;}
ul.like {float: right;}
ul.like li {display: inline-block;}
ul.like li a {display: inline-block; color: #3c3c3c;}
ul.like li img {padding: 0px 10px 0px 40px;}

/** secend section **/

.position_box {position: absolute; bottom: 0; padding: 0px 20px 20px 20px;}
.withi_color {color: #fff;}
.position_box p {color: #fff;}
ul.withi_color li a {color: #fff;}
ul.withi_color {float: left; padding-left: 40px;}

/** end secend section **/



/** end three section **/
.padding_flot {
     padding-bottom:0;
     display: inline-block;
     float: left;
     font-size: 20px;
     padding-right: 14px;
}
.three_box {padding: 20px 20px; box-shadow: #ddd 0px 0px 10px 0px;}
.three_box p {padding-bottom: 0; padding-top: 15px;}
ul.padding_left2 li img {padding: 0px 10px 0px 30px;}



/** end three section **/


/** end for section **/

.magna_top90 {margin-top: 90px;}

/** end for section **/
